backoff~=1.10.0
coloredlogs~=14.0
diskcache==5.1.0
humanfriendly~=8.2
more-itertools~=8.6.0
numpy!=1.19.4
pandas~=1.
pipreqs==0.4.10
pluggy~=0.13.1
PyYaml~=5.3
tabulate~=0.8.7
tqdm~=4.51.0
packaging~=20.4
