#!/bin/bash
{% if ntasks is not none %}
#SBATCH --ntasks={ntasks}
{% endif %}
{% if partition is not none %}
#SBATCH --partition={partition}
{% endif %}
{% if nodes is not none %}
#SBATCH --nodes={nodes}
{% endif %}
{% if mail_type is not none %}
#SBATCH --mail-type={mail_type}
{% endif %}
{% if mail_user is not none %}
#SBATCH --mail-user={mail_user}
{% endif %}
{% if mail_user is not none %}
#SBATCH --mail-user={mail_user}
{% endif %}
{% if ntasks_per_core is not none %}
#SBATCH --ntasks-per-core={ntasks_per_core}
{% endif %}
{% if mem_per_cpu is not none %}
#SBATCH --mem-per-cpu={mem_per_cpu}
{% endif %}
{% if time is not none %}
#SBATCH --time={time}
{% endif %}
{% if account is not none %}
#SBATCH --account={account}
{% endif %}
{% if exclusive is not none and exclusive %}
#SBATCH --exclusive
{% endif %}
{% if mem is not none %}
#SBATCH --mem={mem}
{% endif %}
{% if requeue is not none and requeue %}
#SBATCH --requeue
{% endif %}
{% if sbatch_custom is not none %}
#SBATCH {sbatch_custom}
{% endif %}
#SBATCH--array=0-{njobs}%{max_running_jobs}


{% if modules is not None and len(modules) > 0 %}
{% for m in modules %}
module load {m}
{% endfor %}
{% endif %}

# All submissions happen at the experiment level
srun run_simulation.sh $SLURM_ARRAY_TASK_ID 1> stdout.txt 2> stderr.txt
wait