mkdocs-material~=9.7.0 # doc theme that includes extensive functionality, pinned to last stable version
mkdocs-include-markdown-plugin # include files outside /docs
mkdocs-autorefs # create automatic linkable references to sections, etc.
python-markdown-math # integrate LaTeX math
pymdown-extensions # various extensions for markdown
mkdocs-jupyter # jupyter notebooks
mkdocstrings # generate API reference from docstrings
mkdocstrings-python # python handler for mkdocstrings
mkdocs-table-reader-plugin # directly insert csv and other formats as tables
mkdocs-mermaid2-plugin # render mermaid diagrams
mkdocs-api-autonav # automatically add API ref to navigation
mkdocs-gen-files # generate external module reference docs
mkdocs-literate-nav # use a SUMMARY.md file for API reference TOC

# include all packages needed for running Jupyter notebooks
