pygit2>=1.4.0,<1.6.0
PyGithub~=1.55
plantweb~=1.2.1
sphinx-copybutton~=0.4.0
sphinx-rtd-theme~=0.5.2
sphinxcontrib-napoleon~=0.7
sphinxext.remoteliteralinclude
sphinxcontrib-programoutput~=0.17
sphinx~=4.4.0
