name: "Rebuild docs"

on:
  push:
    paths:
      - '**.py'
      - 'docs/**'
      - '**/requirements.txt'
      - 'idmtools_core/.bumpversion.cfg'
  pull_request:
    paths:
      - '**.py'
      - 'docs/**'
      - '**/requirements.txt'
      - 'idmtools_core/.bumpversion.cfg'
jobs:
  rebuild-documentation:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Bump version: ')"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install PlantUML and Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y plantuml graphviz
      - name: Install dependencies
        working-directory: 'docs'
        run: |
          sudo apt-get update
          sudo apt-get install make
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install -r requirements.txt
      - name: Install tools in dev mode
        run: |
          python dev_scripts/bootstrap.py
      - name: Build docs
        working-directory: 'docs'
        run: |
          make html
