# This workflows will upload a Python Package using Twine when a release is created

name: "Staging: idmtools-cli"

on:
  push:
    branches:
      # only run this on
      - dev
      - 'release**'
    paths:
      - 'idmtools_cli/**'

jobs:
  deploy-cli-staging:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Bump version: ')"
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine bump2version build
          git config --global user.name "IDM Tools"
          git config --global user.name "idmtools@idmod.org"
      - uses: actions/checkout@v2
      - name: Bump build
        working-directory: idmtools_cli
        run: |
          bump2version build --commit --allow-dirty
          git pull
      - name: Build and publish
        working-directory: idmtools_cli
        env:
          TWINE_REPOSITORY_URL: https://packages.idmod.org/api/pypi/idm-pypi-staging/
          TWINE_USERNAME: ${{ secrets.PYPI_STAGING_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_STAGING_PASSWORD }}
        run: |
          python -m build
          twine upload dist/*
