# This workflows will upload a Python Package using Twine when a release is created

name: "Staging: idmtools-core"

on:
  push:
    branches:
      # only run this on
      - dev
      - 'release**'
    paths:
      - 'idmtools_core/**'

jobs:
  deploy-core-staging:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Bump version: ')"
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel twine bump2version build
          git config --global user.name "IDM Tools Automation"
          git config --global user.email "clinton.collins@gmail.com"
      - name: Build and publish
        working-directory: idmtools_core
        env:
          TWINE_REPOSITORY_URL: https://packages.idmod.org/api/pypi/idm-pypi-staging/
          TWINE_USERNAME: ${{ secrets.PYPI_STAGING_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_STAGING_PASSWORD }}
        run: |
          python -m build
#          twine upload dist/*
